.DS_Store/
.vscode/
.idea/
.git/
.github/
.cache/
node_modules/
build/
dist/
assets/
public/
.env
.env.*
package-lock.json
pnpm-lock.yaml
yarn.lock

*.ts
*.tsx
*.js
*.jsx
*.json

/*
!/theme
!/docs
!/src