@use "./utils/docs-link.scss" as *;

.vp-doc a:not([data-link]),
.vp-doc a[data-link="false"] {
    &:not(.header-anchor) {
        text-decoration: none;
        color: var(--vp-c-brand-1);
        @include underline-normal;
        &:hover {
            color: var(--vp-c-brand-2);
        }
    }
}
