$font-name: "example";
$font-family: "vp-example";

@mixin register-font($name: $font-name, $family: $font-family) {
    @font-face {
        font-family: $family;
        src: url("./#{$name}/font.eot?inpve4");
        src: url("./#{$name}/font.eot?inpve4#iefix") format("embedded-opentype"),
            url("./#{$name}/font.ttf?inpve4") format("truetype"), url("./#{$name}/font.woff?inpve4") format("woff"),
            url("./#{$name}/font.svg?inpve4#icomoon") format("svg");
        font-weight: normal;
        font-style: normal;
        font-display: block;
    }
}

@mixin inject-font($family: $font-family) {
    & {
        /* use !important to prevent issues with browser extensions that change fonts */
        font-family: $family !important;
        speak: never;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        color: currentColor;

        /* Better Font Rendering =========== */
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
}

@mixin apply-font($name: $font-name, $family: $font-family) {
    &.icon--#{$name}[class^="icon-"],
    &.icon--#{$name}[class*=" icon-"] {
        @include inject-font($family);
    }
}
